/* General Theme Styles Start*/
:root {
  --mainBlue:#4831D4;
  --lightBlue:#7867df;
  --mainWhite:#f3f3f3;
  --mainDark:rgba(0,0,0,0.75);
  --mainGreen:#ccf381;
  --secDark:rgba(0,0,0,0.30);
  --secGreen: #9ED435;
  --darkGreen: #465E17;
  --mainOrange: rgba(255, 215, 0, 0.68);
}
#root {
  overflow: hidden;
}
body {
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  font-weight: 300 ;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
p {
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}
h1, h2, h3, h4 {
  font-family: 'Dongle', sans-serif !important;
 }
 h5, h6 {
  font-family: 'Merienda' serif !important;
 }
 /* General Theme Styles End*/

 /* Typogrophy Styles Start */
 .letter-spacing {
   letter-spacing: 0.02px;
   padding:0 0 0 5.3rem;
 }
 .text-title{
  font-family: 'Dongle' sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
 }
 .text-green {
   color: var(--mainGreen);
 }
 .text-dark-green {
  color: var(--darkGreen);
}
 .text-blue {
   color: var(--mainBlue);
 }
 .text-bright-blue {
   color: var(--lightBlue);
 }
 /* Typogrophy Styles End */

 /* Details Page Button (Add To Cart) Styles Start*/
 .button-padding {
   padding: 0 0 0 10px;
 }
 /* Details Page Button (Add To Cart) Styles End*/

/* CartItem Button Style Start*/
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark)!important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--secGreen);
}
/* CartItem Button Style End*/

/* Logo Styles Start (Desktop, Tab and Mobile) */
.brand-logo {
  display: block;
}

.mobile-brand-logo {
  display: none;
}

.overflow-hide {
  overflow: hidden;
}

/* ViewPort Styles Start */
@media screen and (max-width : 768px){
  .brand-logo {
    display: none;
  }
  .flex-small {
    display: flex;
    flex-direction: row; 
  }
  .medium-view {
    display: flex;
    flex-direction: row;
  }
  .mobile-brand-logo {
    display: block;
  }
  .mobile-link-margin {
    margin: 0 0 0 5%;
  }
}

@media screen and (max-width : 425px){
  .brand-logo {
    display: none;
  }
  .flex-small {
    display: flex;
    flex-direction: row; 
  }
  .medium-view {
    display: flex;
    flex-direction: row;
  }
  .mobile-brand-logo {
    display: block;
  }
  .mobile-link-margin {
    margin: 0 0 0 5%;
  }
}

@media screen and (max-width: 280px) {
  .hide-view-small {
    float: left;
    width: 33.33%;
    display: none !important;
    margin: 0 1px !important;
  }
}
/* ViewPort Styles End */