/* General Theme Styles Start*/
:root {
  --mainBlue:#4831D4;
  --lightBlue:#7867df;
  --mainWhite:#f3f3f3;
  --mainDark:rgba(0,0,0,0.75);
  --mainGreen:#ccf381;
  --secDark:rgba(0,0,0,0.30);
  --darkGreen: #b0ec3b;
}
#root {
  overflow: hidden;
}
body {
  font-family: 'Permanent Marker', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif  !important;
  font-weight: 300 ;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
p {
  font-family: 'Permanent Marker' cursive!important;;
}
h1, h2, h3, h4 {
  font-family: 'Dongle', cursive !important;
 }
 h5, h6 {
  font-family: 'Merienda', cursive !important;
 }
 /* General Theme Styles End*/

 /* Typogrophy Styles Start */
 .letter-spacing {
   letter-spacing: 0.02px;
   padding:0 0 0 5.3rem;
 }
 .text-title{
  font-family: 'Dongle';
  letter-spacing: 0.3rem;
  text-transform: uppercase;
 }
 .text-green {
   color: var(--mainGreen);
 }
 .text-blue {
   color: var(--mainBlue);
 }
 .text-bright-blue {
   color: var(--lightBlue);
 }
 /* Typogrophy Styles End */

/* CartItem Button Style Start*/
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark)!important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--darkGreen);
}
/* CartItem Button Style End*/

/* Logo Styles Start (Desktop, Tab and Mobile) */
.brand-logo {
  display: block;
}

.mobile-brand-logo {
  display: none;
}

/* ViewPort Styles Start */
@media screen and (max-width : 768px){
  .brand-logo {
    display: none;
  }
  .medium-view {
    display: flex;
    flex-direction: row;
  }
  .mobile-brand-logo {
    display: block;
  }
  .mobile-link-margin {
    margin: 0 0 0 5%;
  }
}

@media screen and (max-width : 425px){
  .brand-logo {
    display: none;
  }
  .medium-view {
    display: flex;
    flex-direction: row;
  }
  .mobile-brand-logo {
    display: block;
  }
  .mobile-link-margin {
    margin: 0 0 0 5%;
  }
}
/* ViewPort Styles End */